html, body {
    overflow-x: hidden; /* Prevent horizontal scroll */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-image: linear-gradient(to bottom right,#0f1114, rgb(74, 113, 172));
    color: white;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.topNav {
    background-color: rgb(94, 94, 94);
    width: 100%;
    overflow: hidden;
    box-sizing: border-box; /* Include padding in width */
    margin: 0 auto;

}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    margin: 0 5%;
    padding: 0;
    
}

.navBox {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0em 3rem;
    text-decoration: none;
    font-size: 17px;
}

.navBox:hover{
    color: grey;

}


#logo{
    margin-left: 0;
    margin-right: auto;
    text-align: center;
    background-size: contain;
}

#logoimg{
    height: 55px;
    width: auto;
}

footer {
    margin-top: auto;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(94, 94, 94);
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box; /* Include padding in width */
}

.footlogo{
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;

}

.content-container{
    margin: 0 10%;
    text-align: center;
}

#intro{
    font-size: 3rem;
    text-align: center;
    padding: 0.75em;
    margin: 0;
}

.sliderContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 0;
    margin-bottom: 30px;
}

.sliderImg {
    display: none;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    position: relative; /* Make this the positioning context for arrows and caption */
}

.sliderImg img {
    width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0; /* Align to left edge of image */
}

.next {
    right: 0; /* Align to right edge of image */
    border-radius: 3px 0 0 3px;
}

.captionText {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0; /* Align to bottom of image */
    left: 0;
    text-align: left;
    opacity: 0;
}

.sliderImg:hover .prev,
.sliderImg:hover .next,
.sliderImg:hover .captionText {
    background-color: rgba(0,0,0,0.8);
}

.sliderImg:hover .captionText {
    opacity: 1;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    justify-content: center;
    max-width: 100%;
    padding: 30px;
}

.image_container {
    width: 230px;
    height: 230px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 200px;
    height: 200px;
    position: relative; /* Positioning context for caption */
    overflow: hidden; /* Ensure caption stays within bounds */
    transition: transform 0.2s ease-in-out;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.square:hover .captionText {
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    transition-delay: 0.2s;
}

.container1 {
    position: relative;
    display: none;
}
   
  /* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

}
  
  /* Modal Content (Image) */
  .modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; /* Auto margins center the element */
    max-width: 90%;
    max-height: 80%;
    object-fit: contain;
}


/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

.nextModal{
    right: 0; /* Align to right edge of image */
    border-radius: 3px 0 0 3px;
}

.prevModal {
    left: 0; /* Align to left edge of image */
}

.prevModal, .nextModal {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prevModal:hover , .nextModal:hover {
    background-color: rgba(0,0,0,0.8);


}

  
.profile_image {
    display: flex;
    flex-direction: column; /* Stack image & caption */
    align-items: center; /* Center both horizontally */
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.profile_image img{
    width: 200px;
    height: 200px;

}

.main{
    text-align: center;
    margin-left:20% ;
    margin-right:20%;
    text-wrap: wrap;
    overflow-wrap: anywhere;
}

.contactlink:link{
    color:white;
}

.contactlink:visited{
    color:rgb(153, 153, 153);
}